 * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        background-color: #000;
        color: #fff;
        font-family: Arial, sans-serif;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    main {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.5rem;
        color: #ccc;
    }

    footer {
        text-align: center;
        padding: 1rem;
        font-size: 0.9rem;
        color: #666;
    }

    .nav-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #111;
    }

    .nav-left, .nav-right {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    .footer-link {
        font-size: 0.9rem;
        color: #666;
        margin-top: 1rem;
        text-decoration: none;
        display: inline-block; /* aby margin-top działał */
        text-align: left; /* wyrównanie tekstu */
    }

    .footer-link button {
        background: none;
        border: none;
        color: #666;
        font-size: 0.9rem;
        text-decoration: none;
        cursor: pointer;
    }

    /* Styl dla linku przy najechaniu myszką */
    .footer-link:hover {
        text-decoration: underline;
    }
